.section.sobre{
    width: 100%;
    background-color: #FFDEAD;
    display: flex;
    border-bottom: 5px solid transparent;
}


.container.sobre{
    background-color: #DEB887;
    margin: 0 auto;
    display: flex;
    gap: 6.25rem;
    padding: 2rem;
    flex-wrap: wrap;
    padding-right: 2rem;
    width: 75rem;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 5rem;
    align-items: flex-start;
}

.paragraph.sobre{
   width: 25rem;
   line-height: 2.188rem;
   display: flex;
}

.title.sobre{
    font-size: 40px;
}

.img.sobre{
    max-width: 12.5rem;
    position: relative;
    top: 3.125rem;
    left: 18.75rem;
}
